aside{
    padding: 5rem 0 2rem 2rem;
    
    color: $segundoColor;
    position: sticky;
    top:10vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    nav{
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li{
                a{
                    text-decoration: none;
                    font-family: $fuentePrimaria;
                }
            }
        }
    }

    footer{

        .texto-footer{

            font-size: 1.3rem;

            a{
                text-decoration: none;
                color: $segundoColor;
            }
        }
    }


}
