.carrousel{
    background-image: url('../../img/sliderComprimidaRecortada.jpg');
    height: 740px;
    background-size: cover;
    width: 100%;
    background-position: 50% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .carrouselTexto{
        padding-left: 2rem;
        font-family: $fuentePrimaria;
        font-size: 2rem;
        color: $primerColor;
        h2{
            width: max-content;
            background-color: #fae48e9a;
        }
    }
}