@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

$fuenteLogo: 'Fraunces', serif;
$fuentePrimaria: 'Alata', sans-serif;
$primerColor: #606BFE;
$segundoColor: #FAE48E;